<div class="roomDetails">
    <h2>Room details</h2>
    <a class="btn btn-small btn-warning" (click)="editRoom()">edit</a>
    <a class="btn btn-small btn-warning" (click)="deleteRoom()">delete</a>
    <table>
      <tr>
        <td>id</td><td>{{room.id}}</td>
      </tr>
      <tr>
        <td>name</td><td>{{room.name}}</td>
      </tr>
      <tr>
        <td>location</td><td>{{room.location}}r</td>
      </tr>
    </table>
    <h4>This room can accomodate:</h4>
    <table>
      <tr *ngFor="let capacity of room.capacities">
        <td>{{capacity.layout}}</td><td>{{capacity.capacity}}</td>
      </tr>
    </table>
  </div>
